<!DOCTYPE html>
<html ng-app="bordioClient">
<head>
  <title>Bordio</title>
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-route.min.js"></script>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
</head>
<body>

  <h1> Bordio </h1>

  <div ng-controller="bordioController">

  </div>

</body>
</html>
