<!DOCTYPE html>
<html ng-app="bordioClient">
<head>
  <title>Bordio</title>
  <link href='https://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script type="text/javascript" src="/app.js"></script>
  <script type="text/javascript" src="/services/bordioApi.js"></script>
  <script type="text/javascript" src="/controllers/bordio.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/scripts.js"></script>
</head>
<body>
  <div class="title-area">
    <h1> Bordio </h1>
  </div>

  <div ng-controller="bordio" class="bordio-section" when-scrolled="loadMore()">

    <div ng-repeat="shot in shots" class="bordio-card">

      <section class="showInfo" style="background-image: url({{shot.images.normal}})">
        <div class="hover-info">
          <img ng-src="{{shot.user.avatar_url}}" class="avatar">
          <h5 class="title">{{shot.title}}</h5>
          <p class="by">by</p>
          <p class="name">{{shot.user.name}}</p>
          <div class="clickable" id="{{shot.html_url}}"></div>
        </div>
      </section>

    </div>

  </div>


</body>
</html>
